public/
dist/
**/*.min.js
node_modules/
coverage/
.nyc_output/
.reify-cache/
.cache/

tsconfig.tsbuildinfo

*/**/yarn.lock
yarn-error.log
*/**/package-lock.json
package-lock.json

.vscode/
.DS_Store
.idea
.fossa.yml
